/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

body 
 font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Heiti SC,Hiragino Sans GB,Microsoft YaHei,Dengxian,Simsun,sans-serif
article
 font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Heiti SC,Hiragino Sans GB,Microsoft YaHei,Dengxian,Simsun,sans-serif!important
.header-wrapper .title a
  font-size: 15px
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Heiti SC,Hiragino Sans GB,Microsoft YaHei,Dengxian,Simsun,sans-serif!important